*
{
    margin:0;
    box-sizing: border-box;
    padding: 0;
}
body{
    min-height:100vh;
    background: rgb(65,65,65);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgb(41, 41, 41) 50%, rgba(0,0,0,1) 100%);
}
.container{
    position:relative;
    width:100%;
    height: 100vh;
    overflow: hidden;
}
.bubbles{
    position: relative;
    display: flex;
    z-index: -10;
}
.bubbles span{
    position: relative;
    width:30px;
    height:22px;
    background: orangered;
    margin: 0 4px;
    border-radius: 50% ;
    box-shadow: 0 0 0 10px #802a00,
    0 0 50px #682300,
    0 0 100px #662200;
    animation: animate 15s linear infinite;
    animation-duration: calc(125s / var(--i));
}
.bubbles span:nth-child(even){
    box-shadow: 0 0 0 10px #575757,
    0 0 50px #ffffff,
    0 0 100px #ffffff;
    background: rgb(255, 255, 255);
}
.bubbles1{
    position: relative;
    display: flex;
    z-index: -10;
}
.bubbles1 span{
    position: relative;
    width:3px;
    height:2px;
    background: orangered;
    margin: 0 10px;
    border-radius: 50% ;
    box-shadow: 0 0 0 2px #802a00,
    0 0 8px #682300,
    0 0 10px #662200;
    animation: animate 15s linear infinite;
    animation-duration: calc(180s / var(--i));
}
.bubbles1 span:nth-child(even){
    box-shadow: 0 0 0 2px #575757,
    0 0 8px #ffffff,
    0 0 10px #ffffff;
    background: rgb(255, 255, 255);
}
@keyframes animate{
    0%{
        transform: translateY(100vh) scale(0);
    }
    100%{
        transform: translateY(-10vh) scale(1);
    }
}
h1{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 60px;
}
body a{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: absolute;
    top:50%;
    left:43.5%;
    padding: 12px 36px;   
    margin: 10px 0;
    color:#fff;
    text-decoration: none; 
    text-transform: uppercase;    
    font-size: 20px;  
    letter-spacing: 2px;  
    border: #ffffff; 
    border-style: solid;
    background-color: white;
    color: orangered;
    border-radius: 40px;  
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
a:hover{
    color: white;
    background-color: orangered;
    border: white;
    transition:0.7s ease-in-out;
    padding: 13px 37px;
}
@media only screen and (max-width: 800px) {
    .bubbles span{
        width:10px;
        height:6px;
        box-shadow: 0 0 0 6px #802a00,
        0 0 25px #682300,
        0 0 50px #662200;
    }
    body a{
        left:35%;
    }
    .bubbles span:nth-child(even){
        box-shadow: 0 0 0 6px #575757,
        0 0 25px #ffffff,
        0 0 50px #ffffff;
    }
    .bubbles1 span{
        width:2px;
        height:1px;
        box-shadow: 0 0 0 2px #802a00,
        0 0 5px #682300,
        0 0 10px #662200;
    }
    .bubbles1 span:nth-child(even){
        box-shadow: 0 0 0 2px #575757,
        0 0 5px #ffffff,
        0 0 10px #ffffff;
    }
    
  }