* {
    box-sizing: border-box;
  }
*,
*:before,
*:after{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: orangered;
    margin: 0;
}
header{
    width:100%;
    max-width: 100%;
    margin: auto;
    height:110px;
    background-color:orangered;
    border-bottom: white;
    border-top: orangered;
    border-left: orangered;
    border-right: orangered;
    border-style: solid;
    border-width: 1px;
    position:sticky;
}
.fixed-top { position:fixed;top:0;right:0;left:0; z-index:1030; height:140px; width:100%;
    display: flex;


} 
#flexmenu{
    height:140px;
}
.icon{
    width:160px;
    height:140px;
    font-size: 40px;
    padding:30px;
}
#torta{
    color:white;
    background: linear-gradient(-45deg, #ff4500, #ff6f1c, #ffc400 );
    border: white;
    border-style: solid;
    border-radius: 50px;
    font-size:20px;
    padding:15px;
}
.tekst{
    color:white;
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;

}
i{
    font-family: 'Courier New', Courier, monospace;
}
li{
    color:black;
    display: inline;
    padding-left:40px;
}
.logoBdayo{
    flex:70%;
    display: flex;
    justify-content: left;
    align-items: center;
}
.menu{
    flex:30%;
    display: flex;
    flex-direction: row;
    font-size: 15px;
    text-align: center;
    justify-content:center;
    align-items: center;

}
a{
    text-decoration: none;
    color:white;
    position:relative;
    letter-spacing: 0.5px;
}
a::after{
    content:"";
    position: absolute;
    left: 0;
    width:0;
    height:2px;
    background-color: orangered;
    bottom:-10px;
    padding: 0 10px;
    transition:0.8s;
}   
a:hover:after{
    width:100%;
    background: linear-gradient(-45deg, #f5bca2, #fd813a, #ff6600 );
}
#disabled_link a:hover{       
    text-decoration: none;
    pointer-events:none;
}
.flex-container {
    display: flex;
    flex-direction: row;
    font-size: 26px;
    text-align: center;
    justify-content: center;
    width:100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;
    margin-top:10%;
} 
.lijevi {
    padding: 10%;
    flex: 50%;
    justify-content: center;
    margin-top:10%;
}
.desni {
    padding: 4%;
    flex: 50%;
    justify-content: center;
    background-color: orangered;
    align-items: center;
    margin-top: 2%;
}
.image{
    border-radius: 10px;
    width:100%;
    height: 100%;
    background: url(img/BdayoLight.png);
    background-size: 110%;
    background-position: center;
    transition:1s;
    background-repeat: no-repeat;
}
.image:hover{
    background-size: 120%;
    background-position: center;
    opacity:0.9;
}
.image1{
    border-radius: 10px;
    width:100%;
    height:100%;
    margin-left: 3%;
    background: url(img/BdayoEmail.png);
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
    transition:1s;
}
.image1:hover{
    background-size: 100%;
    background-position: center;
    opacity:0.9;
}
.image2{
    border-radius: 10px;
    width:100%;
    height:100%;
    background: url(img/BdayoRelax.png);
    background-size: 94%;
    background-position: center;
    background-repeat: no-repeat;
    transition:1s;
}
.image2:hover{
    background-size: 103%;
    background-position: center;
    opacity:0.9;
}
#emoji1{
    background: linear-gradient(-45deg, #ff4500, #ff6f1c, #fce300 );
    background-color: white;
    font-size: 50px;
    border: white;
    border-style: solid;
    border-radius: 50px;
    padding:25px;
}
.end{
    font-size: 30px;
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    border: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 70px;
    margin-bottom: 80px;
    margin-top: 50px;
    padding:10px;
    padding-top: 10px;
    border-left: orangered;
    border-right: orangered;
    border-bottom: orangered;
}
.DownloadSentence{
    margin-top:20px;
}
.footer{
    width:100%;
    height:100%;
    background-color: white;
    color:orangered;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding-top:5px;
}
.flex1{
    display: flex;
    flex: row;
    justify-content: center;
    padding:10px;

}
.flex1 i{
    padding:30px;
    font-size: 40px;
    color:orangered;
}

@media only screen and (max-width: 600px) {
    .header {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
      }
      .logoBdayo{
        text-align: center;
      }
      .fixed-top{
        position: static;
        margin-right: 5%;
      }
  }
  .dropdown{
    display:none;
  }
@media (max-width: 600px) {
    .flex-container {
      flex-direction: column;
    }
    img{
        max-height:250px;
    }
  }
@media only screen and (max-width: 800px) {
    .desni{
        max-width: 100%;
        height: 400px;
    }
    .image, .image1, .image2{
        max-width: 500px;
        height: 450px;
    }
    .end h2{
        font-size: 30px;
      }
      .end h1{
        font-size: 35px;
      }
}
/*rotation landscape*/
@media screen and (orientation: landscape) {
    html {
      transform: rotate(-90deg);
      transform-origin: left top;
      width: 100vh;
      height: 100vw;
      overflow-x: hidden;
      position: absolute;
      top: 100%;
      left: 0;
    }
  }
/* Mobitel menu setup*/
@media only screen and (max-width: 800px){
    .logoBdayo{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .icon{
        padding: 0px;
        flex:50%;
        align-items: center;
        justify-content: center;
    }
    .tekst{
        flex:50%;
        font-size: 19px;
        align-items: center;
        justify-content: center;
    }
    .menu{
        display: none;
    }
    .dropdown {
        display: inline-block;
        align-items: center;
        justify-content: center;
        flex: 50%;
        margin-top: 15px;
        padding:10px;
      }
      .dropdown-content {
        display: none;
        position: absolute;
        width: 50%;
        padding:5px;
        overflow: auto;
        box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
      }
      .dropdown:hover .dropdown-content {
        display: block;
      }
      .dropdown-content a {
        display: block;
        color: orangered;
        padding: 10px;
        background-color: white;
        border-style: solid;
        font-size: 15px;
        font-weight: bold;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
      }
      .dropdown-content a:hover {
        color: white;
        background-color: orangered;
      }
      .gumbmeni{
        color:white;
        background: linear-gradient(-45deg, #ff4500, #ff6f1c, #ffc400 );
        border: white;
        border-style: solid;
        border-radius: 50px;
        font-size:35px;
        padding: 15px;
        margin-left: 20px;
      }
      .logoBdayo{
        flex:50%;
        align-items: center;
        justify-content: center;
        margin-top: 25px;
      }
}

.icons::after{
    content:"";
    position: absolute;
    left: 0;
    width:0;
    height:2px;
    background-color: white;
    bottom:-10px;
    padding: 0 10px;
    transition:1s;
}   
.icons:hover:after{
    width:100%;
    background: linear-gradient(-45deg, #ff4500, #ff6f1c, #fc8f00 );
}
.lijevi1 {
    padding: 10%;
    flex: 50%;
    justify-content: center;
    margin-top:15%;
}
.desni1 {
    padding: 3%;
    flex: 50%;
    justify-content: center;
    background-color: orangered;
    align-items: center;
    margin-top: 10%;
}
.lijevi2 {
    padding: 10%;
    flex: 50%;
    justify-content: center;
    margin-top:10%;
}
.desni2 {
    padding: 4%;
    flex: 50%;
    justify-content: center;
    background-color: orangered;
    align-items: center;
    margin-top: 10%;
}
@media only screen and (max-width: 600px) {
    .desni1 {
        order: 2;
      }
      .lijevi1{
        order: 1;
      }
      .desni {
        order: 2;
      }
      .lijevi{
        order: 1;
      }
      .desni2 {
        order: 2;
      }
      .lijevi2{
        order: 1;
      }
  }
.sadrzaj{
    display: flex;
    flex-direction: row;
    font-size: 26px;
    text-align: center;
    justify-content: center;
    width:100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;
}
.lijevifleximg{
    background: url(img/Paolo.png);
    width:100%;
    height:480px;
    background-size: 80%;
    border-radius: 50px;

    background-position: center;
    background-repeat: no-repeat;
    transition:1.2s;
}
.desnifleximg{
    background: url(img/Kristijan.png);
    width:100%;
    height:480px;
    border-radius: 50px;
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    transition:1.2s;
}
.desnifleximg:hover{
    background-size: 90%;
    background-position: center;
    opacity:0.9;
}
.lijevifleximg:hover{
    background-size: 90%;
    background-position: center;
    opacity:0.9;
}
.textlijevi{
    padding:40px;
}
.textdesni{
    padding:40px;
}
a::after{
    content:"";
    position: absolute;
    left: 0;
    width:0;
    height:2px;
    background-color: orangered;
    bottom:-10px;
    padding: 0 10px;
    transition:0.8s;
}   
a:hover:after{
    width:100%;
    background: linear-gradient(-45deg, #ffffff, #ffffff, #ffffff );
}
a::after{
    content:"";
    position: absolute;
    left: 0;
    width:0;
    height:2px;
    background-color: orangered;
    bottom:-10px;
    padding: 0 10px;
    transition:0.8s;
}   
a:hover:after{
    width:100%;
    background: linear-gradient(-45deg, #f5bca2, #fd813a, #ff6600 );
}
.textborder1{
    border: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 70px;
    margin-bottom: 50px;
    margin-top: 50px;
    padding:10px;
    padding-top: 10px;
    border-left: orangered;
    border-right: orangered;
    border-bottom: orangered;
}
.textborder2{
    border: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 70px;
    margin-bottom: 50px;
    margin-top: 50px;
    padding:10px;
    padding-top: 10px;
    border-left: orangered;
    border-right: orangered;
    border-bottom: orangered;
}
.mail{
    margin-bottom: 70px;
    text-decoration: underline;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
@media only screen and (max-width: 800px) {
    .header {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
      }
  }
@media (max-width: 800px) {
    .sadrzaj{
        flex-direction: column;
    }
    #button{
        flex-direction: column;
        flex: 100%;
        justify-content: center;
        align-items: center;
    }
  }
.Download {
    padding: 50px;
    flex: 50%;
    justify-content: center;
    background-color: orangered;
    align-items: center;
    
}
.imgborder{
    margin:auto;
}
.DLimage{
    border-radius: 300px;
    width:50%;
    height:360px;
    background: url(img/download.jpg);
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    transition:1s;
    
}
.footertext{
    font-family: monospace;
    font-size: 18px;
    color:black;
    margin-top:18px ;
}
.DL{
    text-align: center;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:white;
    padding:20px;
    margin:10px;
}
.downloadtext1{
    border: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 70px;
    margin-bottom: 50px;
    margin-top: 50px;
    padding:10px;
    padding-top: 10px;
    border-left: orangered;
    border-right: orangered;
    border-top: orangered; 
    margin: auto;
    font-size: 40px;
    width:30%;
}
.downloadtext2{
    border: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 70px;
    margin-bottom: 50px;
    margin-top: 50px;
    padding:10px;
    padding-top: 10px;
    border-left: orangered;
    border-right: orangered;
    border-bottom: orangered;
    width:20%;
    margin: auto; 
    font-size: 30px;
}
.DLimage:hover{
    background-size: 100%;
    background-position: center;
    opacity:0.9;
}
.contacttext{
    border: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 40px;
    padding:40px;
    font-size: 20px;
}
.lijevicontact {
    padding: 5%;
    flex: 50%;
    justify-content: center;
    padding-top: 10%;
}
.desnicontact {
    padding: 5%;
    flex: 50%;
    justify-content: center;
    background-color: orangered;
    align-items: center;
}
.lijevi4 {
    padding: 10%;
    flex: 100%;
    justify-content: center;
    margin-top:0%;
}
.flex-container-contact {
    display: flex;
    flex-direction: row;
    font-size: 26px;
    text-align: center;
    justify-content: center;
    width:100%;
    height: 500px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;
    margin-top:0%;
} 
.imagecontact{
    border-radius: 10px;
    width:100%;
    height:450px;
    background: url(img/BdayoGroupOfWorkers.png);
    background-size: 100%;
    background-position: center;
    transition:1s;
    background-repeat: no-repeat;
}
.imagecontact:hover{
    background-size: 105%;
    background-position: center;
    opacity:0.9;
}
.lijeviflex{
    padding: 5%;
    flex: 50%;
    justify-content: center;
    padding-top: 15%;
    text-align: center;
    font-size: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
}
.desniflex{
    padding: 5%;
    flex: 50%;
    justify-content: center;
    padding-top: 15%;
    text-align: center;
    font-size: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
}
.DLimage1{
    border-radius: 300px;
    width:50%;
    height:350px;
    background: url(img/whitearrowleft2-removebg-preview\ \(1\).png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    transition:1s;
    margin: 0 auto;
    margin-top:30px;
}
.lijevidownload {
    padding: 50px;
    flex: 50%;
    justify-content: center;
    padding-top: 10px;
}
.DLimage4{
    border-radius: 300px;
    width:50%;
    height:350px;
    background: url(img/whitearrowright-removebg-preview.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    transition:1s;
    margin: 0 auto;
    margin-top:30px;
}
.DLimage2{
    border-radius: 10px;
    width:60%;
    height:450px;
    background: url(img/downloadimg.png);
    background-size: 115%;
    background-position: center;
    background-repeat: no-repeat;
    transition:1s;
    margin: 0 auto;
    border-radius: 80%;
}
.DLimage2:hover{
    background-size: 125%;
    background-position: center;
    opacity:0.9;
}
.DLimage3{
    border-radius: 10px;
    width:60%;
    height:450px;
    background: url(img/downloadimg.png);
    background-size: 115%;
    background-position: center;
    background-repeat: no-repeat;
    transition:1s;
    margin: 0 auto;
    border-radius: 80%;
}
.DLimage3:hover{
    background-size: 125%;
    background-position: center;
    opacity:0.9;
}
.lijevidl {
    padding: 50px;
    flex: 50%;
    justify-content: center;
    padding-top: 100px;
}
.DLimage4{
    border-radius: 300px;
    width:50%;
    height:350px;
    background: url(img/whitearrowright-removebg-preview.png);
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    transition:1s;
    margin: 0 auto;
    margin-top:30px;
}
.dltext{
    border-style: solid;
    border-top: white;
    border-left: white;
    border-right: white;
    border-width: 1px;
}
.lijevi1download {
    padding: 50px;
    flex: 50%;
    justify-content: center;
    padding-top: 80px;
}
.icons:hover{
    margin-top: -3px;
}
h1 {
    color: #fff;
    -webkit-animation: h1 8s infinite; 
    animation: h1 4s infinite;
  }

@-webkit-keyframes h1 {
    0%   {text-shadow: 0 0 3px #ffffff; color: rgb(255, 255, 255);}
    25%  {text-shadow: 0 0 12px #ffffff;}
    50%  {text-shadow: 0 0 20px #ffffff; color: rgb(255, 255, 255);}
    75%  {text-shadow: 0 0 12px #ffffff;}
    100% {text-shadow: 0 0 3px #ffffff; color: rgb(255, 255, 255);}
}
.contactus{
    width:100%;
    margin: 0 auto ;
}
#button a{
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: black;
    border: 2px solid black;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
    text-decoration-style: bold;
  }

#button a span{
    position: relative;
    z-index: 2;
  }
  
#button a:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: white;
    transition: all .35s;
  }
  
#button a:hover{
    color: orangered;
    border: white;
  }
  
#button a:hover:after{
    width: 100%;
  }
.top{
    position: fixed;
    bottom:40px;
    right:40px;
    width:60px;
    height:60px;
}
.ContactButton{
    margin-bottom: 60px;
}

